/*navigation bar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-style: none;
  cursor: pointer;
}

.nav-bar {
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-bar nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  padding-left: 20px;
  padding-right: 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}
.nav-buttons ul {
  align-items: center;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Inter", sans-serif;
  margin-right: 20px;
}

.nav-buttons ul li a {
  color: white;
  text-decoration: none;
}

.btn-email-me {
  background-color: #0736fe;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

.btn-email-me:hover {
  background-color: white;
  color: black;
}

.logo {
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 15px;
}

.dot {
  color: #0736fe;
}

/*content root*/
.content-root {
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

/*home content*/
.home-container {
  width: 100%;
  height: 580px;
  display: flex;
  margin-bottom: 20px;
}

.sticky-note {
  background-color: #0736fe;
  width: 50%;
  height: 100%;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 20px;
  gap: 10px;
}

.s-text {
  font-family: "Redacted Script", sans-serif;
  font-weight: 900;
  font-size: 110px;
  color: white;
  letter-spacing: 0;
  text-shadow:
    2px 2px 0 white,
    -2px -2px 0 white;
}

.first-text {
  font-family: "Outfit", sans-serif;
  font-size: 110px;
  font-weight: 900;
  color: white;
}

.name {
  font-family: "Lacquer", sans-serif;
  font-size: 80px;
  color: white;
}

.intro {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: end;
  padding-right: 20px;
}

.profession1 {
  font-family: "Outfit", sans-serif;
  font-size: 90px;
  font-weight: 900;
}

.profession2 {
  font-family: "Outfit", sans-serif;
  font-size: 75px;
  font-weight: 900;
  margin-bottom: 10px;
}

.profile-description {
  font-family: "Outfit", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.intro-buttons {
  margin-top: 20px;
}

.btn-see-more,
.btn-cv {
  background-color: black;
  width: 120px;
  height: 50px;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  font-family: "Lacquer", sans-serif;
}

.btn-see-more:hover,
.btn-cv:hover {
  background-color: #0736fe;
  color: white;
  border-color: #0736fe;
}
/*about content*/
.about-container {
  background-color: black;
  max-width: 100%;
  height: 800px;
  left: 0px;
  right: 0px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  gap: 20%;
}

.about-title {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 60px;
  font-weight: 900;
}

.about-description {
  margin-left: 20%;
  color: white;
  text-align: justify;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  margin-top: 4%;
  line-height: 2;
}

/*services content*/
.services-container {
  width: 100%;
  height: 700px;
  background-color: black;
  color: white;
  font-family: "Inter", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  display: flex;
}

.services-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.first-row {
  display: flex;
  width: 100%;
  height: auto;
  gap: 10px;
}

.second-row {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.first-item,
.second-item,
.third-item,
.fourth-item {
  background-color: white;
  border-radius: 6px;
  color: black;
  height: 250px;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  line-height: 1.5;
  transition: all 0.3s ease;
}

.first-item:hover,
.second-item:hover,
.third-item:hover,
.fourth-item:hover {
  background-color: #0736fe;
  color: white;
  transform: translateY(-6px);
  transition: all 0.3s ease;
}

.service-title {
  padding-right: 40px;
  padding-top: 20px;
  background-color: black;
  color: white;
  font-size: 60px;
  text-align: end;
  font-weight: 900;
  width: 100%;
}

.first-item {
  width: 100%;
}

h3 {
  font-family: "Lacquer", sans-serif;
}

/*projects contents*/
.skills-container {
  width: 100%;
  height: 600px;
  display: flex;
  gap: 20px;
}

.title-column {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-weight: 900;
  padding-left: 20px;
  background-color: white;
  border-top-right-radius: 6px;
  width: 25%;
}

.skills-column {
  background-color: black;
  align-items: center;
  width: 100%;
  gap: 20px;
  display: grid;
  flex-direction: column;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-left-radius: 6px;
}

.first-skill-row,
.second-skill-row {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.first-skill,
.second-skill,
.third-skill,
.fourth-skill {
  background-color: #181818;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding-top: 40px;
  padding-left: 40px;
  transition: all 0.3 ease;
}

.first-skill:hover,
.second-skill:hover,
.third-skill:hover,
.fourth-skill:hover {
  transform: translateY(-6px);
  background-color: #1f1f1f;
  transition: all 0.3 ease;
}

/*contact content*/
.contact-container {
  padding-top: 40px;
  width: 100%;
  height: 650px;
  background-color: white;
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.cards-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
